/* variables */
:root{
    --bg-color:#EAEAEA;
    --sec-bg-color:#252A34;
    --fg1-color:#FF2E63;
    --fg2-color:#08D9D6;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}

/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: "Montserrat";
    background-color:white;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

/* header */
.head-title {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    color: var(--sec-bg-color);
    padding: 5px 20px;
    position: fixed;
    width: 100%;
    z-index: 100;
}

header img {
    width: 200px;
    cursor: pointer;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: var(--sec-bg-color);
    text-decoration: none;
    transition: 1s;
    font-family: "Montserrat";
    font-size: 1.1em;
    font-weight: 500;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: var(--fg1-color);
}

/* welcome section styles */
.welcome-section {
    min-height: 100vh;
    background-image: url('../images/welcome.jpg');
    background-size: cover;
    background-position: center;
    color: var(--bg-color);
    text-align: center;
    padding: 20vh 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    z-index: 99;
}

.welcome-section div{
    width: 50%;
}

.welcome-section h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.welcome-section p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    background-color:var(--fg2-color);
    color: #fff;
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 20px 5px 20px 5px;
    margin-right: 10px;
    transition: 1s;
    border: none;
    outline: none;
}

.btn:hover {
    background-color:var(--fg1-color);
    border-radius: 5px 20px 5px 20px;
}

/* about section */
.about{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10vh 9%;
    font-size: 1.5em;
    height: 90vh;
}

.section-title{
    text-align: center;
    margin: 30px;
    color:var(--fg2-color);
    font-size: 3.5rem;
}

/* services section */
#services-section{
    display: flex;
    flex-direction: column;
    background-color: var(--sec-bg-color);
    padding: 10vh 0;
}

.services-section h2{
    text-align: center;
    margin: auto;
}

.services{
    display: flex;
    padding: 5vh 0;
    gap:5vw;
    height: 59vh;
    margin: auto;
}

.service{
    display: grid;
    position: relative;
    grid-template-rows: repeat(2,auto);
    box-shadow: 0px 2px 23px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 23px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 23px -4px rgba(0,0,0,0.75);
    background-color: var(--bg-color);
    gap:10px;
}

.service img{
    width: 27vw;
}

.service div{
    padding: 0 20px;
    color: var(--fg1-color);
}

.description-service{
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    transform: translateX(100%);
    transition: 0.5s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:10px;
}

.description-service p{
    color:var(--sec-bg-color);
    font-size: 1.2rem;
}

.service:hover .description-service{
    transform: translateX(0);
    visibility: visible;
}


/* Styles for the testimonials section */
.avis-section{
    text-align: center;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center ;
    height: 90vh;
    padding: 10vh 0;
}
.avis-card {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    color: #9e9e9e;
    display: inline-block;
    font-family: "Montserrat";
    font-size: 16px;
    margin: 35px 10px 10px;
    max-width: 310px;
    min-width: 250px;
    position: relative;
    text-align: center;
    width: 100%;
    height: 300px;
    background-color: #ffffff;
    border-radius: 5px;
    border-top: 5px solid var(--fg1-color);
}

.avis-card figcaption {
    padding: 13% 10% 12%;
}

.avis-card h3 {
    color: #3c3c3c;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    margin: 10px 0 5px;
}

.avis-card h4 {
    font-weight: 400;
    margin: 0;
    opacity: 0.5;
}

.avis-card blockquote {
    font-style: italic;
    font-weight: 300;
    margin: 0 0 20px;
}

.last-card{
    position: relative;
    top:19px;
}


/* Styles for the scroll-to-top button */
#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 90;
    border: none;
    border-radius: 50%;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
}

.contact-section{
    background-color: var(--sec-bg-color);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    margin: auto;
}

.divider{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-around;
    align-items: center;
    height: 40%;
    padding: 5vh 9vw;
    margin: auto;
    margin-top: -10px;
}

.contact-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 1.2rem;
    color: var(--sec-bg-color);
    background-color: var(--bg-color);
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
}

.micro-info{
    display: grid;
    grid-template-columns: repeat(2,auto);
    align-items: center;
    justify-content: start;
    gap: 20px;
}

.newsletter{
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-left: -50px;
    width: 35vw;
}

.newsletter form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 30px;
    gap:20px;
}

.newsletter form div{
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 0 30px;
}

.newsletter label{
    text-align: center;
    font-size: 1.5rem;
    color:var(--fg1-color);
}

.newsletter input[type="email"],.newsletter input[type="submit"] {
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    font-family: inherit;
}

.newsletter input[type="email"]{
    width: 70%;
    border-radius: 2px 0 0 2px;
}

.newsletter input[type="email"]:focus{
    outline: none;
}

.newsletter input[type="submit"] {
    width: 25%;
    background-color: var(--fg2-color);
    cursor: pointer;
    border-radius: 0 2px 2px 0;
}


/* footer */

footer{
    background-color: var(--bg-color);
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--sec-bg-color);
}

#rejoindre-footer{
    bottom: -10vh;
}

.social-media{
    background-color: var(--bg-color);
    padding: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4,35px);
    border-radius: 10px;
    width: fit-content;
}